# AWS Region where resources will be created
aws_region = "us-west-2"

# Name of the Bedrock Knowledge Base
kb_name = "knowledge-base-bondai"

# S3 bucket name for storing documents
# Note: Bucket names must be globally unique
s3_bucket_name = "bondai-kb-documents"